@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h3 {
  font-size: 44px;
  line-height: 55px;
  color: #333;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  line-height: 32px;
  color: #333;
  margin-top: 16px;
  font-weight: normal;
}
.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 48px;
  color: black;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
  z-index: 5;
}
/*===========Nav==============*/

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 100000;
}
.nav .logo image {
  width: 100px;
  height: 100px;
}
.nav .navbar-toggler {
  display: none;
  border: none;
  outline: none;
}
.nav .navbar-toggler .toggler-icon {
  width: 27px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  position: relative;
  display: block;
  transition: all 0.3s ease-out 0s;
}

.nav .menu-bar .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .menu-bar .menu-item li {
  margin: 0 15px;
}
.nav .menu-bar .menu-item li a {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.nav .menu-bar .menu-item li a:hover {
  color: green;
}
.nav .navbar-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .navbar-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .navbar-social ul li {
  margin: 0 10px;
}
.nav .navbar-social ul li a {
  color: white;
  font-size: 18px;
}
.nav .navbar-social ul li a:hover {
  color: green;
}

/*===========Home==============*/

.back {
  background-image: url(assets/images/bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 120vh;
}
.back .overlay {
  background: linear-gradient(
    0deg,
    rgba(93, 192, 149, 1) 0%,
    rgba(22, 146, 182, 1) 24%,
    rgba(47, 115, 185, 1) 81%
  );
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.back .hero-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.back .hero-shape img {
  width: 100%;
  display: block;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text h3 {
  color: white;
}
.hero-text h6 {
  color: white;
}
.hero-text .header-btn {
  margin-top: 30px;
}
.hero-text .header-btn li {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.hero-text .header-btn li a.main-btn {
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  border: 0;
  line-height: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.hero-text .header-btn .btn-one{
    color: white;
}
.hero-text .header-btn .btn-one::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #2F73B9, #5dc095);
    z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;
}
.hero-text .header-btn .btn-one:hover::before{
    background-image: linear-gradient(to left, #2F73B9, #5dc095);
    background-position: left center;
}
.hero-text .header-btn .btn-two:hover{
    box-shadow: 0 3px px 0 rgba(0, 0, 0, 0.16);
}

/*===========Service==============*/

#wrapper{
    margin: 5rem 7rem 10 rem 7rem;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service .service-content .box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service .service-content .box .box-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.service .service-content .box .box-one .services{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;

}
.service .service-content .box .box-one .services i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #5dc095;
}
.service .service-content .box .box-one .services .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    text-align: justify;
}
.service .service-content .service-image{
    width: 40%;
}
.service .service-content .service-image img{
    width: 100%;
}
